@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
}    

body {
    text-align: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 4px #000000;
    border-bottom: 3px solid rgb(115, 115, 114);
}

h2 {
    font-size: 24px;
}

.pink {
    color: rgb(255, 192, 203);
}

.skyblue {
    color: skyblue;
}

#basic p {
    font-weight: bold;
}
